* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "open sans", sans-serif;
  background-color: #081f45;
}

header {
  background-color: #00aae0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex {
  flex: 1 1 1;
}

.logo {
  margin: 20px;
  color: #fff;
  width: 10%;
  font-size: 3rem;
}

.btn {
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  color: #fff;
  border-radius: 50px;
  padding: 20px;
  font-weight: bold;
  margin: 20px;
}

ul {
  line-height: 60px;
  margin-top: 20px;
}

ul li {
  display: inline;
  padding: 20px;
}

#menu a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

#menu a:hover,
a:active {
  color: #081f45;
}

.top a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.top a:hover,
a:active {
  color: #081f45;
}

main {
  margin-top: 30px;
}

.container {
  background-color: #00aae0;
  color: #fff;
  border-radius: 30px;
  margin: 30px;
  padding: 50px;
  width: 40%;
}

.top {
  text-align: right;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 2rem;
  cursor: default;
}

.caption {
  text-align: center;
  font-size: 0.7rem;
  cursor: default;
}

.options {
  margin: 40px;
  justify-content: center;
  text-align: center;
}

.option button {
  background: transparent;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  width: 40%;
  height: 50px;
  border-radius: 20px;
  margin: 10px 10px;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

.option button:link button:visited {
  color: #f70b0b;
  text-decoration: none;
}

.option button:hover,
button:active {
  color: #081f45;
}

.foot {
  margin-left: 55px;
}

.foot h1 {
  font-size: 1.5rem;
  cursor: default;
}

.foot a {
  text-decoration: none;
  color: #fff;
}

.foot .follow {
  margin-left: 280px;
  padding: 10px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.foot a:hover {
  color: #081f45;
}

/*barra de progresso*/
.bar {
  margin: 30px auto;
  margin-top: -10px;
  max-width: 1000px;
  min-width: 300px;
  text-align: center;
  cursor: default;
}

.bar .progress {
  margin: 0 auto;
  width: 400px;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: default;
}

.radio:checked + .label {
  background: transparent;
  cursor: default;
}

/*para sites responsivo no mobile resolução abaixo de 600*/
@media screen and (max-width: 600px) {
  .title {
    font-size: 1.1rem;
    color: #fff;
  }
  .progress-bar {
    height: 16px;
    border-radius: 4px;
  }
  .bar {
    margin: 15px auto;
    margin-top: -50px;
    margin-left: -5px;
    width: 100px;
    cursor: default;
  }

  .bar .progress {
    width: 250px;
  }

  .progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
      0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
      0 1px rgba(255, 255, 255, 0.08);
  }
  .container {
    background-color: #00aae0;
    color: #fff;
    border-radius: 30px;
    margin: 3.5px;
    padding: 55px;
    width: 70%;
  }

  .foot {
    margin-left: 0;
  }

  .foot a {
    text-decoration: none;
    color: #fff;
  }

  .foot .follow {
    margin-left: 210px;
    padding: 10px 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
  }

  .foot a:hover {
    color: #081f45;
  }

  .options {
    margin: 20px;
    margin-bottom: 15%;
    justify-content: center;
    text-align: center;
  }

  .option button {
    background: transparent;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    width: 45%;
    height: 50px;
    border-radius: 20px;
    margin: 4px;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .option button:link button:visited {
    color: #f70b0b;
    text-decoration: none;
  }

  .option button:hover,
  button:active {
    color: #081f45;
    background-color: white;
    border-color: #081f45;
  }
}
